---
http_interactions:
- request:
    method: get
    uri: https://airapi.airly.eu/v2/measurements/point?lat=50.116436&lng=19.801319
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - yENXl3MA1134NQN9aqRCjSUo2JRQfdWw
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:prod:5000
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Minute:
      - '49'
      X-Ratelimit-Limit-Minute:
      - '50'
      X-Ratelimit-Remaining-Day:
      - '983'
    body:
      encoding: ASCII-8BIT
      string: '{"current":{"fromDateTime":"2019-12-03T12:17:30.582Z","tillDateTime":"2019-12-03T13:17:30.582Z","values":[{"name":"PM1","value":8.84},{"name":"PM25","value":12.61},{"name":"PM10","value":23.89},{"name":"PRESSURE","value":1026.52},{"name":"HUMIDITY","value":86.2},{"name":"TEMPERATURE","value":-0.25}],"indexes":[{"name":"AIRLY_CAQI","value":23.89,"level":"VERY_LOW","description":"Great
        air here today!","advice":"Breathe as much as you can!","color":"#6BC926"}],"standards":[{"name":"WHO","pollutant":"PM25","limit":25.0,"percent":50.43},{"name":"WHO","pollutant":"PM10","limit":50.0,"percent":47.78}]},"history":[{"fromDateTime":"2019-12-02T13:00:00.000Z","tillDateTime":"2019-12-02T14:00:00.000Z","values":[{"name":"PM1","value":21.83},{"name":"PM25","value":35.19},{"name":"PM10","value":71.72},{"name":"PRESSURE","value":1017.79},{"name":"HUMIDITY","value":86.5},{"name":"TEMPERATURE","value":0.98}],"indexes":[{"name":"AIRLY_CAQI","value":63.58,"level":"MEDIUM","description":"Well...
        It''s been better.","advice":"Neither good nor bad. Think before leaving the
        house.","color":"#EFBB0F"}],"s[...]
