---
http_interactions:
- request:
    method: get
    uri: https://airapi.airly.eu/v2/measurements/point?lat=50.118583&lng=19.790861
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - yENXl3MA1134NQN9aqRCjSUo2JRQfdWw
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:prod:5000
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Minute:
      - '49'
      X-Ratelimit-Limit-Minute:
      - '50'
      X-Ratelimit-Remaining-Day:
      - '974'
    body:
      encoding: ASCII-8BIT
      string: '{"current":{"fromDateTime":"2019-11-28T12:56:41.684Z","tillDateTime":"2019-11-28T13:56:41.684Z","values":[{"name":"PM1","value":38.93},{"name":"PM25","value":60.15},{"name":"PM10","value":103.91},{"name":"PRESSURE","value":1000.02},{"name":"HUMIDITY","value":91.54},{"name":"TEMPERATURE","value":7.73}],"indexes":[{"name":"AIRLY_CAQI","value":78.86,"level":"HIGH","description":"Poor
        air quality!","advice":"Taking long walks on a day like today isn''t advisable.","color":"#EF7120"}],"standards":[{"name":"WHO","pollutant":"PM25","limit":25.0,"percent":240.61},{"name":"WHO","pollutant":"PM10","limit":50.0,"percent":207.82}]},"history":[{"fromDateTime":"2019-11-27T13:00:00.000Z","tillDateTime":"2019-11-27T14:00:00.000Z","values":[{"name":"PM1","value":26.19},{"name":"PM25","value":41.45},{"name":"PM10","value":80.39},{"name":"PRESSURE","value":1002.46},{"name":"HUMIDITY","value":91.0},{"name":"TEMPERATURE","value":4.6}],"indexes":[{"name":"AIRLY_CAQI","value":68.99,"level":"MEDIUM","description":"Well...
        It''s been better.","advice":"The smog is coming! :O","color":"#EFBB0F"}],"standards":[{"name":"WHO","pollutant":"PM[...]
