@import "../../styles/variables";

.hamburger-navigation {
  height: 7.7rem;
  padding: 0 0.5rem 0 2rem;
  box-shadow: 0 0.1rem 0.6rem 0 rgba(0, 0, 0, 0.12);
  color: $textColor;

  display: flex;
  flex-direction: column;
  &--closed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    width: 100%;
  }
  &--open {
    position: absolute;
    top: 7.7rem;
    left: 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    transition: max-height 0.5s ease-out;
    z-index: 2;
    overflow: hidden;
    max-height: 0;
    background-color: white;
  }
  &__brand {
    display: flex;
    align-items: center;
    &-logo {
      width: 4.3em;
      height: 4.3rem;
      margin-right: 1rem;
      &-img {
        width: inherit;
        height: inherit;
      }
    }
    &-name {
      width: 13.5rem;
      text-transform: uppercase;
      font-size: 1.4rem;
      line-height: 1.6rem;
      font-weight: 700;
      color: $textColor;

      display: flex;
      flex-wrap: wrap;
    }
  }
  &__links {
    height: 100%;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 500;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    &-item {
      height: inherit;
      position: relative;

      font-size: 1.6rem;
      line-height: 1.9rem;

      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 1.5rem 2rem;
      color: $textColor;
      &:hover,
      .isActive {
        color: $secondaryColor;
        box-sizing: border-box;
      }
    }
    .custom-button {
      margin-right: 2rem;
    }
  }
  @media only screen and (min-width: $bp-1000) {
    display: none;
  }
}
.isActive {
  max-height: 500px;
  transition: max-height 0.5s ease-in;
}
