@import "../../styles/variables";
@import "../../styles/mixins";

.form {
  font-size: 1.6rem;
  line-height: 1.9rem;
  &-field {
    margin-bottom: 2.5rem;
    &-label {
      display: flex;
      flex-direction: column;
      &--title {
        padding: 0.5rem 0;
      }
      input,
      textarea {
        position: relative;
        display: flex;
        width: inherit;
        border: 0.1rem solid $frameColor;
        border-radius: 0.4rem;
        overflow: hidden;
        font-size: 1.6rem;
        line-height: 1.9rem;
        padding: 1rem;
        box-sizing: border-box;
        background-color: white;
      }
      input {
        height: 4rem;
      }
      textarea {
        height: 15rem;
      }
    }
    &-error {
      position: absolute;
      margin: 0.5rem 0;
      font-size: 1.3rem;
      line-height: 1.6rem;
      color: $warningColor;
    }
  }
  &-submit {
    @include button;
    margin-top: 1rem;
    &:disabled {
      background-color: grey;
    }
  }
}
