@import "../../styles/variables";

.calendar-legend {
  &-box {
    height: 3rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.15);
    padding: 1rem 0.5rem;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-420) {
      font-size: 1.6rem;
      line-height: 1.9rem;
    }
  }
  &-no-sufficient-data {
    background-color: grey;
  }
  &-very-good {
    background-color: $goodFirst;
  }
  &-good {
    background-color: $goodSecond;
  }
  &-moderate {
    background-color: $unhealthyFirst;
  }
  &-sufficient {
    background-color: $unhealthySecond;
  }
  &-bad {
    background-color: $badFirst;
  }
  &-very-bad {
    background-color: $badSecond;
  }
}
