@import "../../styles/variables";
@import "../../styles/mixins";

.error-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;

  &__title {
    font-size: 20rem;
    line-height: 20rem;
    font-weight: lighter;
    color: $warningColor;
    margin: 0;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
  }
  &__text {
    @include information-text;
  }
}
