@import "../../styles/variables";
@import "../../styles/mixins";

.news {
  @include margins-text-content;

  &__heading {
    @include heading;
  }
  &__loader {
    display: flex;
    justify-content: center;
  }
  &__pagination {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
