<div class="tag-field d-flex">
  <div class="form-group string required article_tags_name">
    <input class="form-control string required" placeholder="Dodaj tag" type="text" name="article[tags_attributes][][name]" value="<%= tag_name %>">
  </div>
  <button type="button" class='close ml-2 btn-tag-field-remove' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
</div>
