@import "../../styles/variables";
@import "../../styles/mixins";

.calendar-section {
  &__location-and-data {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    @media only screen and (max-width: $bp-1000) {
      flex-direction: column;
    }
    &-dropdown {
      width: 30rem;
      position: relative;
      @media only screen and (max-width: $bp-1000) {
        min-height: 20rem;
        width: 35.1rem;
      }
      &-heading {
        @include heading;
        margin-top: 0;
        margin-bottom: 3.5rem;
      }
      &__label {
        font-size: 1.6rem;
        line-height: 1.9rem;
        font-weight: 700;
        color: #747485;
        margin-bottom: 0.8rem;
      }
    }
  }
  &__legend {
    width: 100%;
    margin-top: 2rem;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-row-gap: 0.5rem;
    grid-column-gap: 1.5rem;

    @media only screen and (max-width: $bp-1200) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    @media only screen and (max-width: $bp-1000) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    @media only screen and (max-width: $bp-420) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }
}
