@import "../../styles/variables";

.map-section {
  width: inherit;

  display: flex;
  flex-direction: column;
  @media only screen and (max-width: $bp-1200) {
  }

  &__heading {
    margin: auto;
    font-size: 3.4rem;
    line-height: 4rem;
    font-weight: bold;
    color: $textColor;
    margin-bottom: 1.8rem;
    text-align: center;
    @media only screen and (max-width: $bp-1200) {
      width: 100%;
      max-width: 53rem;
    }
  }
  &__subheading {
    width: 38rem;
    margin: auto;
    font-size: 2.1rem;
    line-height: 3.2rem;
    text-align: center;
    color: $grey;
    margin-bottom: 4.3rem;
  }
  &__content {
    width: inherit;

    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-1200) {
      flex-direction: column;
    }
    &--map {
      width: 60rem;
      height: 62.7rem;
      display: flex;
      align-items: center;
      @media only screen and (max-width: $bp-1200) {
        width: 100%;
        max-width: 53rem;
        height: auto;
        margin: auto;
      }
    }
    &--info {
      width: 50rem;
      height: 62.7rem;
      border: 0.1rem solid $frameColor;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
      border-radius: 0.6rem;
      overflow: hidden;
      @media only screen and (max-width: $bp-1200) {
        margin: 3.5rem auto 0 auto;
        height: 52rem;
        width: 100%;
        max-width: 53rem;
      }
    }
  }
}
