@import "../../styles/variables";
@import "../../styles/mixins";

.air-myths {
  &__heading {
    @include heading;
    margin-bottom: 1.6rem;
  }
  &__subheading {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
  &__single-myth {
    &--counter {
      font-size: 1.6em;
      line-height: 1.9rem;
      color: $warningColor;
      padding: 1.7rem 0 1.1rem 0;
      border-top: 0.1rem solid $frameColor;
      margin-top: 5.5rem;
    }
    &--container {
      display: flex;

      &-icon {
        margin-left: -1rem;
        svg {
          fill: $warningColor;
          width: 4.4rem;
          height: 3.9rem;
        }
      }
      &-content {
        display: flex;
        flex-direction: column;
        &-title {
          font-size: 2.8rem;
          line-height: 3.6rem;
          font-weight: bold;
          text-align: justify;
          margin: 0;
        }
        &-text {
          font-size: 1.8rem;
          line-height: 2.7rem;
          text-align: justify;
          margin-top: 3rem;
        }
      }
    }
  }
}
