$primaryColor: grey;
$secondaryColor: #4259ef;
$secondaryColorContrast: #ffffff;
$secondaryColorDark: #0030bb;
$greyLight: #e9e9eb;
$greyLighter: #f5f5f9;
$grey: #747485;
$frameColor: #c8c8cd;
$textColor: #020221;

$goodFirst: #97cd2e;
$goodSecond: #c3d735;
$unhealthyFirst: #fbd42d;
$unhealthySecond: #ff8f00;
$badFirst: #cc571a;
$badSecond: #7d0d0f;
