@import "../../styles/variables";

.article {
  &__heading {
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 4.9rem;
    color: $textColor;
    margin-top: 4.9rem;
    margin-bottom: 1rem;
  }
  &__date {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $grey;
    margin: 1rem 0;
    display: flex;
    padding-bottom: 1.5rem;
    &-published {
      margin-right: 1rem;
    }
    &-updated {
      padding-left: 1rem;
      border-left: 0.1rem solid $frameColor;
    }
  }
  &__container {
    padding: 3rem 1.5rem;
    border-top: 0.1rem solid $frameColor;
    border-bottom: 0.1rem solid $frameColor;
    &--body {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }
    &--author {
      font-size: 1.6rem;
      line-height: 2rem;
      color: $grey;
      margin-top: 1.5rem;
    }
  }
  &__button {
    display: flex;
    margin-top: 2rem;
    color: $secondaryColor;
    &:hover {
      color: $secondaryColorDark;
      svg {
        fill: $secondaryColorDark;
      }
    }
    &--text {
      font-size: 1.6rem;
      line-height: 2.5rem;
      padding-left: 0.5rem;
      cursor: pointer;
    }
    svg {
      height: 2.5rem;
      width: 2.5rem;
      fill: $secondaryColor;
      cursor: pointer;
    }
  }
}
