@import "../../styles/variables";

.contact-detail {
  margin-top: 2rem;

  display: flex;
  align-items: center;
  &__icon {
    svg {
      width: 2.5rem;
      height: 2.5rem;
      fill: $grey;
      margin-bottom: -0.3rem;
    }
  }
  &__item {
    margin-left: 1.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7rem;
    color: $textColor;

    a:visited {
      color: $textColor;
    }

    &:hover {
      color: $secondaryColor;
    }
  }
}
