@import "./variables";

@mixin heading {
  font-size: 4.2rem;
  font-weight: bold;
  line-height: 4.9rem;
  color: $textColor;
  margin-top: 4.9rem;
  margin-bottom: 2.4rem;
}

@mixin title {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: bold;
}

@mixin information-text {
  font-size: 1.7rem;
  line-height: 2.4rem;
  text-align: center;
  color: $grey;
  margin: 0.5rem 0;
}

@mixin margins-text-content {
  max-width: 75rem;
  margin: auto;
}
