//RESPONSIVE BREAKPOINTS
$bp-1600: 100em; // 1600px
$bp-1400: 87.5em; // 1400px
$bp-1200: 75em; // 1200px
$bp-1000: 62.5em; // 1000px
$bp-800: 50em; // 800px
$bp-600: 37.5em; // 600px
$bp-420: 26.25em; // 420px

//COLOR VARIABLES
$primaryColor: grey;
$secondaryColor: #4259ef;
$secondaryColorContrast: #ffffff;
$secondaryColorDark: #0030bb;
$greyLight: #e9e9eb;
$greyLighter: #f5f5f9;
$grey: #747485;

$mapColor: #e5e6e6;
$frameColor: #c8c8cd;
$textColor: #020221;

$goodFirst: #97cd2e;
$goodSecond: #c3d735;
$unhealthyFirst: #fbd42d;
$unhealthySecond: #ff8f00;
$badFirst: #cc571a;
$badSecond: #7d0d0f;

$warningColor: #b71c1c;
$noDataColor: #a3a3a4;
$neutralColor: #e3e4fb;

:export {
  grey: $grey;
  frameColor: $frameColor;
  warning: $warningColor;
  noDataColor: $noDataColor;
  neutralColor: $neutralColor;
  goodFirst: $goodFirst;
  goodSecond: $goodSecond;
  unhealthyFirst: $unhealthyFirst;
  unhealthySecond: $unhealthySecond;
  badFirst: $badFirst;
  badSecond: $badSecond;
  mapColor: $mapColor;
  bp600: $bp-600;
}
