@import "../../styles/variables";
@import "../../styles/mixins";

.air-myths {
  &__heading {
    margin-top: 10rem;
    @include heading;
  }
  &__content {
    margin: 3rem 0;
    &-title {
      font-size: 2.4rem;
      line-height: 2.8rem;
      font-weight: 700;
      border-bottom: 0.1rem solid $frameColor;
      padding: 1.5rem 0;
    }
    &-text {
      font-size: 1.8rem;
      line-height: 1.5;
      text-align: justify;
      padding: 3rem 1.5rem 0 1.5rem;
    }
  }
}
