---
http_interactions:
- request:
    method: get
    uri: https://airapi.airly.eu/v2/measurements/installation?installationId=6091
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - yENXl3MA1134NQN9aqRCjSUo2JRQfdWw
  response:
    status:
      code: 301
      message: ''
    headers:
      Content-Type:
      - application/json
      Location:
      - "/v2/measurements/installation?installationId=8814"
      Requestedinstallationid:
      - '6091'
      Successorinstallationid:
      - '8814'
      X-Application-Context:
      - application:prod:5000
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Minute:
      - '49'
      X-Ratelimit-Limit-Minute:
      - '50'
      X-Ratelimit-Remaining-Day:
      - '622'
    body:
      encoding: UTF-8
      string: '{"errorCode":"INSTALLATION_REPLACED","message":"Installation was replaced
        with another one","details":{"installationId":6091,"successorId":8814}}'
  recorded_at: Tue, 14 Jan 2020 16:08:36 GMT
- request:
    method: get
    uri: https://airapi.airly.eu/v2/measurements/installation?installationId=8814
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - yENXl3MA1134NQN9aqRCjSUo2JRQfdWw
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:prod:5000
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Minute:
      - '48'
      X-Ratelimit-Limit-Minute:
      - '50'
      X-Ratelimit-Remaining-Day:
      - '621'
    body:
      encoding: ASCII-8BIT
      string: '{"current":{"fromDateTime":"2020-01-14T15:08:36.882Z","tillDateTime":"2020-01-14T16:08:36.882Z","values":[{"name":"PM1","value":22.36},{"name":"PM25","value":37.12},{"name":"PM10","value":62.65},{"name":"PRESSURE","value":1019.38},{"name":"HUMIDITY","value":73.38},{"name":"TEMPERATURE","value":1.68}],"indexes":[{"name":"AIRLY_CAQI","value":57.9,"level":"MEDIUM","description":"Well...
        It''s been better.","advice":"Watch out - a few signs of smog today.","color":"#EFBB0F"}],"standards":[{"name":"WHO","pollutant":"PM25","limit":25.0,"percent":148.47},{"name":"WHO","pollutant":"PM10","limit":50.0,"percent":125.29}]},"history":[{"fromDateTime":"2020-01-13T16:00:00.000Z","tillDateTime":"2020-01-13T17:00:00.000Z","values":[{"name":"PM1","value":21.37},{"name":"PM25","value":34.64},{"name":"PM10","value":58.06},{"name":"PRESSURE","value":1021.35},{"name":"HUMIDITY","value":83.63},{"name":"TEMPERATURE","value":2.07}],"indexes":[{"name":"AIRLY_CAQI","value":55.04,"level":"MEDIUM","description":"Well...
        It''s been better.","advice":"Protect your lungs!","color":"#EFBB0F"}],"standards":[{"name":"WHO","pollutant":"PM2[...]
