---
http_interactions:
- request:
    method: get
    uri: https://airapi.airly.eu/v2/measurements/point?lat=50.116436&lng=19.801319
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - yENXl3MA1134NQN9aqRCjSUo2JRQfdWw
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:prod:5000
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Minute:
      - '49'
      X-Ratelimit-Limit-Minute:
      - '50'
      X-Ratelimit-Remaining-Day:
      - '965'
    body:
      encoding: ASCII-8BIT
      string: '{"current":{"fromDateTime":"2019-12-03T16:27:23.646Z","tillDateTime":"2019-12-03T17:27:23.646Z","values":[{"name":"PM1","value":71.22},{"name":"PM25","value":110.1},{"name":"PM10","value":200.11},{"name":"PRESSURE","value":1027.99},{"name":"HUMIDITY","value":85.13},{"name":"TEMPERATURE","value":-1.63}],"indexes":[{"name":"AIRLY_CAQI","value":105.59,"level":"EXTREME","description":"Very
        high pollution!","advice":"The daily norm has exceeded the WHO limit many
        times!","color":"#B00057"}],"standards":[{"name":"WHO","pollutant":"PM25","limit":25.0,"percent":440.41},{"name":"WHO","pollutant":"PM10","limit":50.0,"percent":400.22}]},"history":[{"fromDateTime":"2019-12-02T17:00:00.000Z","tillDateTime":"2019-12-02T18:00:00.000Z","values":[{"name":"PM1","value":21.5},{"name":"PM25","value":34.37},{"name":"PM10","value":70.41},{"name":"PRESSURE","value":1018.6},{"name":"HUMIDITY","value":88.0},{"name":"TEMPERATURE","value":0.42}],"indexes":[{"name":"AIRLY_CAQI","value":62.76,"level":"MEDIUM","description":"Well...
        It''s been better.","advice":"If you can, stay home.","color":"#EFBB0F"}],"standards":[{"name":"WHO","pollutant":"PM2[...]
