---
http_interactions:
- request:
    method: get
    uri: https://airapi.airly.eu/v2/measurements/installation?installationId=6092
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - yENXl3MA1134NQN9aqRCjSUo2JRQfdWw
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Application-Context:
      - application:prod:5000
    body:
      encoding: UTF-8
      string: '{"errorCode":"INSTALLATION_NOT_FOUND","message":"Installation was not
        found","details":{"installationId":6092}}'
  recorded_at: Tue, 14 Jan 2020 16:08:37 GMT
recorded_with: VCR 5.0.0
