---
http_interactions:
- request:
    method: get
    uri: https://airapi.airly.eu/v2/measurements/point?lat=1.0&lng=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - yENXl3MA1134NQN9aqRCjSUo2JRQfdWw
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:prod:5000
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Minute:
      - '48'
      X-Ratelimit-Limit-Minute:
      - '50'
      X-Ratelimit-Remaining-Day:
      - '964'
    body:
      encoding: ASCII-8BIT
      string: '{"current":{"fromDateTime":"2019-12-03T16:27:24.302Z","tillDateTime":"2019-12-03T17:27:24.302Z","values":[],"indexes":[{"name":"AIRLY_CAQI","value":null,"level":"UNKNOWN","description":"There
        are no Airly sensors in this area yet.","advice":null,"color":"#999999"}],"standards":[]},"history":[{"fromDateTime":"2019-12-02T17:00:00.000Z","tillDateTime":"2019-12-02T18:00:00.000Z","values":[],"indexes":[{"name":"AIRLY_CAQI","value":null,"level":"UNKNOWN","description":"There
        are no Airly sensors in this area yet.","advice":null,"color":"#999999"}],"standards":[]},{"fromDateTime":"2019-12-02T18:00:00.000Z","tillDateTime":"2019-12-02T19:00:00.000Z","values":[],"indexes":[{"name":"AIRLY_CAQI","value":null,"level":"UNKNOWN","description":"There
        are no Airly sensors in this ar[...]
