@import "../../styles/variables";
@import "../../styles/mixins";

.charts-section {
  display: flex;
  flex-direction: column;
  border-top: 0.1rem solid #c8c8cd;
  margin-top: 7rem;
  .custom-button {
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-left: 0 !important;
  }
  &-heading {
    @include heading;
    margin: 3.5rem 0;
  }
  &-options {
    display: flex;
    justify-content: space-between;
  }
  &-dropdown {
    &__label {
      font-size: 1.6rem;
      line-height: 1.9rem;
      font-weight: 700;
      color: #747485;
      margin-bottom: 0.8rem;
    }
    &__menu {
      width: 30rem;
      height: 10rem;
      position: relative;
    }
  }
  &-date-picker {
    font-size: 1.6rem !important;
    input {
      padding: 2.4rem !important;
      height: inherit;
      width: inherit;
      border: 0.1rem solid #c8c8cd !important;
      border-radius: 0.4rem !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 30rem;
      box-sizing: border-box;
      font-size: 1.6rem;
    }
  }
}
