---
http_interactions:
- request:
    method: get
    uri: https://airapi.airly.eu/v2/measurements/point?lat=50.062006&lng=19.940984
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - yENXl3MA1134NQN9aqRCjSUo2JRQfdWw
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:prod:5000
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Minute:
      - '49'
      X-Ratelimit-Limit-Minute:
      - '50'
      X-Ratelimit-Remaining-Day:
      - '993'
    body:
      encoding: ASCII-8BIT
      string: '{"current":{"fromDateTime":"2019-11-27T13:39:48.995Z","tillDateTime":"2019-11-27T14:39:48.995Z","values":[{"name":"PM1","value":24.36},{"name":"PM25","value":39.24},{"name":"PM10","value":74.92},{"name":"PRESSURE","value":1002.76},{"name":"HUMIDITY","value":100.0},{"name":"TEMPERATURE","value":3.91}],"indexes":[{"name":"AIRLY_CAQI","value":65.57,"level":"MEDIUM","description":"Well...
        It''s been better.","advice":"The smog is coming! :O","color":"#EFBB0F"}],"standards":[{"name":"WHO","pollutant":"PM25","limit":25.0,"percent":156.98},{"name":"WHO","pollutant":"PM10","limit":50.0,"percent":149.83}]},"history":[{"fromDateTime":"2019-11-26T14:00:00.000Z","tillDateTime":"2019-11-26T15:00:00.000Z","values":[{"name":"PM1","value":23.94},{"name":"PM25","value":39.48},{"name":"PM10","value":75.08},{"name":"PRESSURE","value":1011.83},{"name":"HUMIDITY","value":98.69},{"name":"TEMPERATURE","value":2.46}],"indexes":[{"name":"AIRLY_CAQI","value":65.67,"level":"MEDIUM","description":"Well...
        It''s been better.","advice":"Something''s hanging in the air. Take care!","color":"#EFBB0F"}],"standards":[{"name[...]
