---
http_interactions:
- request:
    method: get
    uri: https://airapi.airly.eu/v2/measurements/point?lat=59.062006&lng=19.940984
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - yENXl3MA1134NQN9aqRCjSUo2JRQfdWw
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:prod:5000
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Minute:
      - '49'
      X-Ratelimit-Limit-Minute:
      - '50'
      X-Ratelimit-Remaining-Day:
      - '990'
    body:
      encoding: ASCII-8BIT
      string: '{"current":{"fromDateTime":"2019-11-27T14:41:01.802Z","tillDateTime":"2019-11-27T15:41:01.802Z","values":[],"indexes":[{"name":"AIRLY_CAQI","value":null,"level":"UNKNOWN","description":"There
        are no Airly sensors in this area yet.","advice":null,"color":"#999999"}],"standards":[]},"history":[{"fromDateTime":"2019-11-26T15:00:00.000Z","tillDateTime":"2019-11-26T16:00:00.000Z","values":[],"indexes":[{"name":"AIRLY_CAQI","value":null,"level":"UNKNOWN","description":"There
        are no Airly sensors in this area yet.","advice":null,"color":"#999999"}],"standards":[]},{"fromDateTime":"2019-11-26T16:00:00.000Z","tillDateTime":"2019-11-26T17:00:00.000Z","values":[],"indexes":[{"name":"AIRLY_CAQI","value":null,"level":"UNKNOWN","description":"There
        are no Airly sensors in this ar[...]
- request:
    method: get
    uri: https://airapi.airly.eu/v2/measurements/point?lat=50.062006&lng=19.940984
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - yENXl3MA1134NQN9aqRCjSUo2JRQfdWw
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:prod:5000
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Minute:
      - '49'
      X-Ratelimit-Limit-Minute:
      - '50'
      X-Ratelimit-Remaining-Day:
      - '989'
    body:
      encoding: ASCII-8BIT
      string: '{"current":{"fromDateTime":"2019-11-27T14:42:18.947Z","tillDateTime":"2019-11-27T15:42:18.947Z","values":[{"name":"PM1","value":25.08},{"name":"PM25","value":40.6},{"name":"PM10","value":77.41},{"name":"PRESSURE","value":1002.61},{"name":"HUMIDITY","value":100.0},{"name":"TEMPERATURE","value":3.8}],"indexes":[{"name":"AIRLY_CAQI","value":67.13,"level":"MEDIUM","description":"Well...
        It''s been better.","advice":"Sadly, the air is not quite as clean as it looks
        today.","color":"#EFBB0F"}],"standards":[{"name":"WHO","pollutant":"PM25","limit":25.0,"percent":162.41},{"name":"WHO","pollutant":"PM10","limit":50.0,"percent":154.82}]},"history":[{"fromDateTime":"2019-11-26T15:00:00.000Z","tillDateTime":"2019-11-26T16:00:00.000Z","values":[{"name":"PM1","value":25.25},{"name":"PM25","value":41.59},{"name":"PM10","value":79.43},{"name":"PRESSURE","value":1011.91},{"name":"HUMIDITY","value":94.75},{"name":"TEMPERATURE","value":2.81}],"indexes":[{"name":"AIRLY_CAQI","value":68.39,"level":"MEDIUM","description":"Well...
        It''s been better.","advice":"[...]
