@import "../../styles/variables";
@import "../../styles/mixins";

.form {
  font-size: 1.6rem;
  line-height: 1.9rem;
  &-heading {
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 2.5rem;
  }
  &-field {
    margin-bottom: 2.5rem;
    &-label {
      display: flex;
      flex-direction: column;
      &--title {
        padding: 0.5rem 0;
      }
      input,
      textarea {
        position: relative;
        display: flex;
        width: inherit;
        border: 0.1rem solid $frameColor;
        border-radius: 0.4rem;
        overflow: hidden;
        font-size: 1.6rem;
        line-height: 1.9rem;
        padding: 1rem;
        box-sizing: border-box;
        background-color: white;
        outline: none;
      }
      input {
        height: 4rem;
      }
      textarea {
        height: 15rem;
      }
    }
    &-error {
      position: absolute;
      margin: 0.5rem 0;
      font-size: 1.3rem;
      line-height: 1.6rem;
      color: $warningColor;
    }
  }
  &-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    &--error {
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
      line-height: 2rem;
      color: $warningColor;
      a {
        color: $textColor;
        font-weight: 600;
        &:hover {
          color: $secondaryColor;
        }
      }
    }
    &-btn {
      @include button;
      &:disabled {
        background-color: grey;
      }
      border: none;
    }
  }
}
