@import "../../styles/variables";

.navigation {
  height: 7.7rem;
  // padding: 0 9.2rem;
  box-shadow: 0 0.1rem 0.6rem 0 rgba(0, 0, 0, 0.12);
  color: $textColor;
  &-container {
    height: inherit;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (min-width: $bp-1200) {
      width: 115rem;
    }
  }
  &__brand {
    width: 30%;

    display: flex;
    align-items: center;
    &-logo {
      width: 4.3em;
      height: 4.3rem;
      margin-right: 1rem;
      &-img {
        width: inherit;
        height: inherit;
      }
    }
    &-name {
      width: 13.5rem;
      text-transform: uppercase;
      font-size: 1.4rem;
      line-height: 1.6rem;
      font-weight: 700;
      color: $textColor;

      display: flex;
      flex-wrap: wrap;
    }
  }
  &__links {
    height: 100%;
    width: 70%;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 500;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    &-item {
      height: inherit;
      position: relative;

      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-grow: 1;
      color: $textColor;

      a:visited {
        color: $textColor;
      }
      &:hover,
      .isActive {
        color: $secondaryColor;
        box-sizing: border-box;
        &::before {
          height: 0.5rem;
          width: 100%;
          background-color: $secondaryColor;
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
  }

  @media only screen and (max-width: 1199px) {
    display: none;
  }
}
