<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <p> Sender Name  <%=  @sender_name %></p>
    <p> Sender Email <%= @sender_email %> </p>
    <p> Message <%= @message %> </p>
  </body>
</html>