@import "../../styles/variables";

.map {
  width: inherit;
  position: relative;
  &__image {
    height: inherit;
  }
  &__loader {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
