@import "../../styles/variables";

.contact-detail {
  margin-top: 2rem;

  display: flex;
  align-items: center;
  &__icon {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    background-color: $grey;
  }
  &__item {
    margin-left: 1.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7rem;
  }
}
