@import "../../styles/_variables.scss";

.calendar-daily-info {
  width: 32rem;
  font-size: 1.2rem;
  line-height: 1.7rem;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
  border: 0.1rem solid #c8c8cd;
  border-radius: 0.6rem;
  padding: 1.5rem;
  color: $textColor;
  &__box {
    margin-bottom: 1.5rem;
  }
}
