@import "../../styles/variables";
@import "../../styles/mixins";

.article-overview {
  border: 0.1rem solid $frameColor;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0.6rem;
  padding: 4rem;
  margin: 2rem 0 2rem 0;
  &__title {
    @include title;

    a {
      color: $textColor;
      &:hover {
        color: $secondaryColor;
      }
    }
    @media only screen and(max-width: $bp-600) {
      font-size: 3rem;
      line-height: 3.9rem;
    }
  }
  &__date {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: $grey;
    margin: 1rem 0;
    display: flex;
    @media only screen and(max-width: $bp-600) {
      font-size: 1.6rem;
      line-height: 2rem;
    }
    &-published {
      margin-right: 1rem;
    }
    &-updated {
      padding-left: 1rem;
      border-left: 0.1rem solid $grey;
    }
  }
  &__container {
    display: flex;
    margin-top: 2rem;
    align-items: flex-start;

    @media only screen and(max-width: $bp-1000) {
      flex-direction: column;
      align-items: center;
    }

    &--overview {
      font-size: 1.6rem;
      line-height: 2.4rem;
      display: flex;
      flex-direction: column;
      @media only screen and(max-width: $bp-600) {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
    &--button {
      display: flex;
      justify-content: flex-end;
      margin-top: 2rem;
      color: $secondaryColor;
      &:hover {
        color: $secondaryColorDark;
        svg {
          fill: $secondaryColorDark;
        }
      }
      &-text {
        font-size: 1.6rem;
        line-height: 2.5rem;
        padding-right: 0.5rem;
        cursor: pointer;

        @media only screen and(max-width: $bp-600) {
          font-size: 2rem;
          line-height: 2.9rem;
        }
      }
      svg {
        height: 2.5rem;
        width: 2.5rem;
        fill: $secondaryColor;
        cursor: pointer;
      }
    }
  }
}
