@import "../../styles/variables";

.footer {
  width: 100%;
  background-color: $greyLight;
  padding: 9.2rem 0;
  color: $textColor;
  @media only screen and (max-width: $bp-420) {
    padding: 5rem 0;
  }

  &-container {
    width: 80%;
    max-width: 115rem;
    display: flex;
    margin: 0 auto;
    @media only screen and (max-width: $bp-600) {
      width: 100%;
      max-width: 53rem;
    }
    @media only screen and (max-width: $bp-420) {
      flex-direction: column;
      align-items: center;
      width: 80%;
      text-align: center;
    }
  }

  &__info {
    width: 100%;
    @media only screen and (max-width: $bp-420) {
      width: auto;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &-logo {
      width: 4.3rem;
      height: 4.3rem;
      border-radius: 50%;
      background-color: $grey;
    }
    &-brand {
      margin-top: 2rem;
      font-size: 1.6rem;
      line-height: 1.9rem;
      font-weight: 500;
      color: $grey;
    }
    &-description {
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1.7rem;
      margin-top: 2rem;
      width: 70%;
    }
    &-credentials {
      width: 70%;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.5;
      margin-top: 5rem;
    }
  }
  &__contact {
    width: 75%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: $bp-420) {
      margin-top: 5rem;
      align-items: center;
    }
    &-heading {
      font-size: 1.4rem;
      line-height: 1.7rem;
    }
    &-details {
      margin-top: 0.5rem;
    }
  }
}
