@import "../../styles/variables";

.current-pollution {
  width: inherit;

  @media only screen and (max-width: $bp-1000) {
    margin: auto;
  }

  &__heading {
    font-size: 4.2rem;
    line-height: 4.9rem;
    color: $textColor;
    margin-top: 4.9rem;
    margin-bottom: 2.4rem;
    &--bold {
      font-weight: bold;
    }
    @media only screen and (max-width: $bp-1000) {
      font-size: 3.8rem;
      line-height: 4.2rem;
      text-align: center;
      margin-top: 3.5rem;
      margin-bottom: 4rem;
    }
    @media only screen and (max-width: $bp-420) {
      font-size: 3.42rem;
      line-height: 4rem;
      text-align: left;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: $bp-1000) {
      justify-content: center;
    }
    @media only screen and (max-width: $bp-420) {
      width: inherit;
    }
    &-container {
      width: 53rem;
      @media only screen and (max-width: $bp-800) {
        width: 100%;
      }
    }
    &-information {
      margin-top: 3rem;
      color: $secondaryColor;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: flex-end;

      &:hover {
        color: $secondaryColorDark;
      }

      &-icon {
        margin-right: 0.3rem;
        svg {
          height: 2rem;
          width: 2rem;
        }
      }
      &-question {
        font-size: 1.6rem;
        line-height: 1.9rem;
      }
    }
    &-image {
      img {
        width: 56rem;
      }
      margin-right: 4.8rem;

      @media only screen and (max-width: $bp-1200) {
        display: none;
      }
    }
  }
  &__horizontal-line {
    width: 100%;
    margin-top: 2.2rem;
    border: 0.5px solid $frameColor;
  }
  &__recommendations-text {
    margin-top: 1.5rem;
    color: $grey;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
  &__recommendations-icons {
    width: 100%;
    margin-top: 3.3rem;

    display: flex;
    justify-content: space-around;
  }
}
