@import "../../styles/variables";

.footer {
  width: 100%;
  background-color: $greyLight;
  padding: 9.2rem 0;
  color: $textColor;

  display: flex;

  > div {
    padding-left: 9.2rem;
  }
  &__info {
    width: 100%;

    &-logo {
      width: 4.3rem;
      height: 4.3rem;
      border-radius: 50%;
      background-color: $grey;
    }
    &-brand {
      margin-top: 2rem;
      font-size: 1.6rem;
      line-height: 1.9rem;
      font-weight: 500;
      color: $grey;
    }
    &-description {
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1.7rem;
      margin-top: 2rem;
      width: 50%;
    }
    &-credentials {
      width: 50%;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.5;
      margin-top: 5rem;
    }
  }
  &__contact {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    &-heading {
      font-size: 1.4rem;
      line-height: 1.7rem;
    }
    &-details {
      margin-top: 0.5rem;
    }
  }
}
