@import "../../styles/variables";

.dot {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22);
  position: absolute;
  top: 14.1rem;
  left: 15.1rem;
  &--Burów {
    top: 41.3rem;
    left: 35.7rem;
  }
  &--Rząska {
    top: 42.9rem;
    left: 61.7rem;
  }
  &--Szczyglice {
    top: 45.1rem;
    left: 52.3rem;
  }
  &--Rudawa {
    top: 28.9rem;
    left: 16.1rem;
  }
  &--Brzoskwinia {
    top: 45.7rem;
    left: 14.3rem;
  }
  &--Zabierzów {
    top: 35.2rem;
    left: 44.3rem;
  }
  &--Kochanów {
    top: 34rem;
    left: 28.7rem;
  }
  &--Balice {
    top: 52.5rem;
    left: 43.1rem;
  }
  &--Kleszczów {
    top: 38.1rem;
    left: 27.1rem;
  }
  &--Radwanowice {
    top: 14.1rem;
    left: 15.1rem;
  }
  &--Brzezinka {
    top: 19.3rem;
    left: 24.6rem;
  }
  &--Kobylany {
    top: 14rem;
    left: 31.4rem;
  }
  &--Karniowice {
    top: 8.6rem;
    left: 38.6rem;
  }
  &--Zelków {
    top: 8.6rem;
    left: 50.7rem;
  }
  &--Bolechowice {
    top: 21.1rem;
    left: 47.7rem;
  }
  &--Ujazd {
    top: 19.9rem;
    left: 55.4rem;
  }
  &--Więckowice {
    top: 23.9rem;
    left: 37.2rem;
  }
  &--Niegoszowice {
    top: 29.9rem;
    left: 24.6rem;
  }
  &--Młynka {
    top: 34.2rem;
    left: 6.3rem;
  }
  &--Nielepice {
    top: 38.3rem;
    left: 12.3rem;
  }
  &--Aleksandrowice {
    top: 47.3rem;
    left: 30.2rem;
  }
  &--Pisary {
    top: 23.4rem;
    left: 8.3rem;
  }
  &--Brzezie {
    top: 30.1rem;
    left: 54.6rem;
  }
}
