@import "./styles/variables";

html {
  font-size: 10px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  @media only screen and (max-width: $bp-600) {
    font-size: 7px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.container {
  margin: 6.2rem 9.2rem;
  @media only screen and (min-width: $bp-1200) {
    margin: 6.2rem auto 2rem auto;
    width: 115rem;
  }
  @media only screen and (max-width: $bp-600) {
    margin: 3rem 2rem;
  }
}

a {
  text-decoration: none;
}

.scroll-to-top {
  display: flex;
  justify-content: flex-end;
  margin-top: 6.2rem;
  svg {
    fill: $secondaryColor;
    height: 3.5rem;
    width: 3.5rem;
  }

  &__text {
    font-size: 1.7rem;
    line-height: 3.5rem;
    margin-right: 0.5rem;
    color: $grey;
  }
}
