@import "../../styles/variables";

.map {
  max-width: 100%;
  max-height: 100%;
  .st0 {
    fill: #e5e6e6;
    &:hover {
      fill: $grey;
    }
  }
  .st1 {
    fill: #0e0f20;
  }
  .st2 {
    font-family: "Roboto";
  }
  .st3 {
    font-size: 14px;
  }
}
