@import "../../styles/variables";

.custom-button {
  height: 4.4rem;
  width: 13rem;
  background-color: $secondaryColor;
  color: $secondaryColorContrast;
  border-radius: 0.5rem;
  font-weight: 700;
  margin-left: 2rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $secondaryColorDark;
  }
  @media only screen and (max-width: $bp-600) {
    font-size: 2.3rem;
    line-height: 2.9rem;
    height: 5.5rem;
    width: 18rem;
  }
}

button:focus {
  border: none;
  outline: none;
}
